gitgith1 {
    text-align: center;
}
h3 {
    border:2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    width: 40%;
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color:black;
}